@using Place.Core.Consts
@using Place.Core.Models
@model  PagedList.IPagedList<CustomerViewModel>

@{
    ViewBag.Title = "Home";
}
<div class="col-md-12">
    <div class="row">
        <div class="col-md-12 control-btn-div">
            @if (!Model.Any())
            {
                <label for="countOfCustomers">Please, input customers count</label>
                <input class="form-control text-box single-line" id="countOfCustomers" name="countOfCustomers" type="text" value="">
                <button class="btn btn-primary" id="generateList">Generate Customer's List</button>
            }
            @if (Model.Any())
            {
                @Html.ActionLink("Export Customers List", "ExportExcel", "Home", null, new { @class = "btn btn-primary" })
            }
        </div>
        <hr>
        <div id="generatedResults" class="col-md-12">
            @if (Model.Any())
            {
                @Html.Partial("_CustomersList", Model)
            }
        </div>
    </div>
</div>
<script>
    $(document).on("click", "#generateList", function () {
        var countOfCustomers = Number($("#countOfCustomers").val());
        if (countOfCustomers > 0 && countOfCustomers < '@Consts.MaxCustomersCount') {
            $.ajax({
                url: "@Url.Action("Index")",
                type: 'get',
                data: { countOfCustomers: countOfCustomers },
                async: false
            }).done((data) => {
                $(".control-btn-div").html('@Html.ActionLink("Export Customers List", "ExportExcel", "Home", null, new {@class = "btn btn-primary"})');
                $("#generatedResults").html(data);
            }).fail(() => {
                $("#countOfCustomers").val("");
                alert("Illegal count of customers, value should be higher than zero and not higher that " + '@Consts.MaxCustomersCount');
            });
        } else {
            $("#countOfCustomers").val("");
            alert("Illegal count of customers, value should be higher than zero and not higher that " + '@Consts.MaxCustomersCount');
        }
    });
</script>