@using System.Globalization
@using PagedList.Mvc
@using Place.Core.Models
@model  PagedList.IPagedList<CustomerViewModel>

@if (Model.Any())
            {
            <div style="text-align: center">
                <h1>Customers' List</h1> 
            </div>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Count Of Tasks</th>
                            <th>Duration</th>
                            <th>Executed Tasks</th>
                            <th>% Of Executed Tasks</th>
                            <th>Duration Of Tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var customer in Model)
                        {
                            <tr>
                                <td>@customer.FirstName</td>
                                <td>@customer.LastName</td>
                                <td>@customer.Email</td>
                                <td>@customer.CountOfTasks</td>
                                <td>@customer.DurationHours</td>
                                <td>@customer.ExecutedTasks</td>
                                <td>@customer.PercentOfExecutedTasks.ToString("0.00")</td>
                                <td>@customer.DurationOfExecutedTasks.ToString("0.00")</td>
                            </tr>
                        }
                    </tbody>
                </table>
}
@Html.PagedListPager(Model, page => Url.Action("Index", "Home", new { page }))
